*{
  margin:0;
  padding:0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body,input,select,textarea,radio,checkbox,label,button{
  font-family: "微软雅黑";
  font-size: 12px;
  line-height: 1.42857143;
}
/* 左侧组件面板*/
.Y-LeftPanel{
  float: left;
  width: 16.66666667%;
  border:2px solid silver;
  height:500px;
  overflow:y;
  background-color:#DDDDDD
}
/*画布面板*/
.Y-PaperPanel{
  float: left;
  width: 66.66666667%;
  padding:0px;
  margin:0px;
  border:1px solid silver;
  overflow:auto;
  height:500px;
}
/*工具条*/
.Y-TopPanel{
  background-color:silver;
  height:36px;
  position:fixed;
}
.Y-TopButton{
  width: 40px;
  height:30px;
  margin-left: 5px;
  border-radius:5px;
}
/*画布*/
.Y-Paper{
  width: 1600px;
  height:1200px;
  background-image: url(../images/bg.png);
}
/*属性面板*/
.Y-PropPanel{
  float: left;
  width: 16.66666667%;
  border:2px solid silver;
  height:500px;
  overflow:auto;
  padding:0px;margin:0px;
  background-color:#DDDDDD
}
/*组件分组名称*/
.Y-MenuTitle
{
  height:40px;
  width: 100%;
  font-size:15px;
  color:white;
  padding-left:10px;
  padding-top:10px;
  cursor:pointer;
  border:white 1px solid;
  text-align: center;
  background-color:silver ;
}
/*属性面板名称*/
.Y-PropTitle
{
  height:40px;
  width: 100%;
  font-size:15px;
  color:white;
  padding-left:10px;
  padding-top:10px;
  cursor:pointer;
  border:white 1px solid;
  text-align: center;
  background-color:#666666 ;
}
/*属性显示div*/
.Y-PropBody
{
  margin-top:5px;
  width: 100%;
  height:auto;
  overflow:auto;

}
.Y-MenuTitle:hover
{
  border:silver 2px solid;
}
/*组件内容div*/
.Y-MenuContent
{
  font-size:12px;
  border:silver 1px solid;
  background-color: #F0F0F0;
}
/*组件显示图片*/
.Y-Node
{
  width:40px;
  height:40px;
  margin-left:13px;
}
/*确定按钮*/
.Y-OK
{
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
  width: 100%;
  margin-top:5px;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
//属性输入框
.Prop-input{
  float:left;
  width:80%;
  border:1px solid silver;
  padding-left:4px; "
}

/*白色实箭头*/
.Y-markerArrow-1{
  fill:white;
  stroke:black;
  stroke-width: "2px",
}
/*白色虚箭头*/
.Y-markerArrow-2{
  fill:white;
  stroke:black;

  stroke-dasharray:1
}

/*实心箭头*/
.Y-markerArrow-3{
  fill:black;
}

.Y-Node-Selected{
  stroke:red;
}

.Y-Node-Deselected{
  stroke:black;
}
